# Text-to-speech API key (i used ElevenLabs, but you can use any TTS service that provides an API)
TTS_API_KEY=

# Spotify API credentials
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://localhost:8888/callback