# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Build artifacts
build/
dist/

# Tool caches
.cache/
.cache

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db